/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 10px; }
p { margin: 10px 0; }

table {
  font-size: inherit;
  font: 100%;
}

.clear { clear: both; }

.float-left { float: left; }

.float-right { float: right; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 10px;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  font-family: Monaco, "Courier New", monospace;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5em;
  padding: 10px 10px 5px;
}

.site .header {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
}

.site .meta {
  color: #444;
}

.site .footer {
  font-size: 80%;
  color: #000;
  border-top: 1px solid #000;
  margin-top: 10px;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 20px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre,
#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 5px;
  line-height: 1.5em;
}

#post ul, #post ol {
  margin-left: 20px;
}

#post pre code {
  border: none;
  padding: 0px;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

#post img {
   margin: 10px;
}

#post hr {
   margin: 10px auto;
   border: 0;
   height: 1px;
   background-color: black;
}

#post blockquote {
   padding: 0 35px;
}
