<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Rustdoc for Syntax Highlighting</title>
<link rel="stylesheet" type="text/css" href="/static/normalize.css">
<link rel="stylesheet" type="text/css" href="/static/main.css">
<link rel="stylesheet" type="text/css" href="/static/rust.css">
</head>
<body>
<nav class="site-header">
    <h1><a href="/"><code class="site-logo">[ ]</code> matematikaadit</a></h1>
</nav>
<section class="content">

