code, pre {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;
    white-space: pre-wrap;
}
pre {
    padding: 14px;
}
pre.rust .kw { color: #8959A8; }
pre.rust .kw-2, pre.rust .prelude-ty { color: #4271AE; }
pre.rust .number, pre.rust .string { color: #718C00; }
pre.rust .self, pre.rust .bool-val, pre.rust .prelude-val,
pre.rust .attribute, pre.rust .attribute .ident { color: #C82829; }
pre.rust .attribute, pre.rust .attribute .ident { color: #C82829; }
pre.rust .macro, pre.rust .macro-nonterminal { color: #3E999F; }
pre.rust .lifetime { color: #B76514; }
pre.rust .question-mark {
    color: #ff9011;
    font-weight: bold;
}
pre.rust { position: relative; }
pre {
    background-color: #F5F5F5;
}
pre.rust .comment { color: #8E908C; }
pre.rust .doccomment { color: #4D4D4C; }
